

	<page-title ng-if="layoutOptions.pageTitles" title="Registro de Ola" description="Debe ingresar la información completa de la ola que se va a dar de alta en el sistema"></page-title>


<div class="panel panel-default">

	<div class="panel-heading">
		<div class="panel-title">
			Datos generales
		</div>
		
		<small class="text-small pull-right" style="padding-top:5px;">
		</small>
	</div>
	
	<div class="panel-body">
	
		<form role="form" id="form1" method="post" class="validate">
			
			<div class="form-group">
				<label class="control-label">Nombre de la ola</label>
				
				<input type="text" class="form-control" name="ru_telefono" data-validate="maxlength[2]" />
			</div>
			<div class="form-group">
				<label class="control-label">Vigencia</label>
				<input type="text" id="field-2" class="form-control daterange" data-format="DD/MM/YYYY" data-start-date="02/01/2016" data-end-date="15/01/2016" data-separator=" - " />
							
			</div>
			<div class="form-group">
				<label class="control-label">Cuestionario a aplicar</label>
						
						<script type="text/javascript">
							jQuery(document).ready(function($)
							{
								$("#s2example-1").select2({
									placeholder: 'Selecciona un cuestionario',
									allowClear: true
								}).on('select2-open', function()
								{
									// Adding Custom Scrollbar
									$(this).data('select2').results.addClass('overflow-hidden').perfectScrollbar();
								});
								
							});
						</script>
						
						<select class="form-control" id="s2example-1">
							<option></option>
							<optgroup label="Mystery Shopper">
								<option>Cuestionario 012016</option>
								<option>Cuestionario 122015</option>
							</optgroup>
						</select>
			</div>
			
			<div align="right" class="form-group">
				<button type="submit" class="btn btn-success">Registrar Ahora</button>
			</div>
		
		</form>
	
	</div>

</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Regiones incluidas</h3>
			<div class="panel-options btn1"><button type="submit" class="btn btn-success"  ng-click="openModal('modal-6', 'lg');">Agregar</button></div>
	</div>
	<div class="panel-body">
		
		<div class="table-responsive" data-pattern="priority-columns" data-focus-btn-icon="fa-asterisk" data-sticky-table-header="true" data-add-display-all-btn="false" data-add-focus-btn="false">
		
			<table cellspacing="0" class="table table-small-font table-bordered table-striped">
				<thead>
					<tr>
						<th>Nombre</th>
						<th>Proveedor</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th>Norte</th>
						<th>Proveedor 1</th>
					</tr>		
				</tbody>
			</table>
		</div>
		
	</div>
</div>


<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Tiendas incluidas</h3>
			<div class="panel-options btn1"><button type="submit" class="btn btn-success" ng-click="openModal('modal-7', 'lg');">Agregar</button></div>
	</div>
	<div class="panel-body">
		
		<div class="table-responsive" data-pattern="priority-columns" data-focus-btn-icon="fa-asterisk" data-sticky-table-header="true" data-add-display-all-btn="false" data-add-focus-btn="false">
		
			<table cellspacing="0" class="table table-small-font table-bordered table-striped">
				<thead>
					<tr>
						<th>Nombre</th>
						<th>Proveedor</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th>Talisman</th>
						<th>Proveedor 2</th>
					</tr>		
				</tbody>
			</table>
		</div>
		
	</div>
</div>

	
						
<script type="text/ng-template" id="modal-6">
	<div class="modal-header">
		<button type="button" class="close" ng-click="currentModal.close();" aria-hidden="true">&times;</button>
		<h4 class="modal-title">Asignar proveedor y region</h4>
	</div>
	
	<div class="modal-body">
	
		<div class="row">
			<div class="col-md-12">
				
				<div class="form-group">
					<label for="field-1" class="control-label">Region</label>
					
					
						<select class="form-control" id="s2example-2" >
							<option></option>
								<option>1 - PACIFICO</option>
								<option>	101 - TIJUANA</option>
								<option>	102 - MEXICALI</option>
								<option>	103 - SONORA</option>
								<option>	104 - CHIHUAHUA</option>
								<option>	105 - CHIHUAHUA SUR</option>
								<option>	106 - BAJA CALIFORNIA SUR</option>
								<option>	107 - SINALOA</option>
								<option>2 - NORTE</option>
								<option>	201 - DURANGO</option>
								<option>	202 - HUASTECAS NORTE</option>
								<option>	203 - SAN LUIS POTOSI</option>
								<option>	204 - ZACATECAS</option>
								<option>	205 - TAMAULIPAS</option>
								<option>	206 - COAHUILA</option>
								<option>	207 - NUEVO LEON CENTRO</option>
								<option>	208 - NUEVO LEON FORANEO</option>
						</select>
							
				</div>	
				<div class="form-group">
					<label for="field-1" class="control-label">Proveedor</label>
					
					
						<select class="form-control" id="s2example-2" >
							<option></option>
								<option>Proveedor 1</option>
								<option>Proveedor 2</option>
						</select>
							
				</div>	
				
			</div>
			
		</div>		
	</div>
	
	<div class="modal-footer">
		<button type="button" class="btn btn-white" ng-click="currentModal.close();">Cerrar</button>
		<button type="button" class="btn btn-info" ng-click="currentModal.dismiss();">Guardar</button>
	</div>
</script>

<script type="text/ng-template" id="modal-7">
	<div class="modal-header">
		<button type="button" class="close" ng-click="currentModal.close();" aria-hidden="true">&times;</button>
		<h4 class="modal-title">Asignar proveedor y region</h4>
	</div>
	
	<div class="modal-body">
	
		<div class="row">
			<div class="col-md-12">
				
				<div class="form-group">
					<label for="field-1" class="control-label">Tienda</label>
					
					
						<select class="form-control" id="s2example-2" >
							<option></option>
								<option>PINTURAS TULTEPEC</option>
								<option>SUCURSAL BARRIENTOS</option>
						</select>
							
				</div>	
				<div class="form-group">
					<label for="field-1" class="control-label">Proveedor</label>
					
					
						<select class="form-control" id="s2example-2" >
							<option></option>
								<option>Proveedor 1</option>
								<option>Proveedor 2</option>
						</select>
							
				</div>	
				
			</div>
			
		</div>		
	</div>
	
	<div class="modal-footer">
		<button type="button" class="btn btn-white" ng-click="currentModal.close();">Cerrar</button>
		<button type="button" class="btn btn-info" ng-click="currentModal.dismiss();">Guardar</button>
	</div>
</script>


<script type="text/javascript">
		// This JavaScript Will Replace Checkboxes in dropdown toggles
		jQuery(document).ready(function($)
		{
			setTimeout(function()
			{
				$(".checkbox-row input").addClass('cbr');
				cbr_replace();
			}, 0);
		});
		</script>
		<script>
	;(function($)
	{
		$('.table-responsive').responsiveTable();
	})(jQuery);
</script>