<!-- Custom column filtering -->
<div class="panel panel-default">
	<div class="panel-body">

		<!-- Default panel -->
		<div class="panel panel-default">
			<!-- Add class "collapsed" to minimize the panel -->

		<div class="table-responsive" data-pattern="priority-columns"
			data-focus-btn-icon="fa-asterisk" data-sticky-table-header="true"
			data-add-display-all-btn="false" data-add-focus-btn="false">
			<table class="table table-small-font table-bordered table-striped"
				id="example-3">
				<thead>
					<tr class="replace-inputs">
						<th data-priority="1">Tareas pendientes</th>
						<th data-priority="1">Acción</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="taskItem in tasks">
						<td>{{taskItem.name}}</td>
						<td><a href=""
							ng-click="executeTask(taskItem.id);"
							class="btn btn-secondary btn-sm btn-icon icon-left fa fa-pencil" title="Ejecutar">
						</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<script>
	;
	(function($) {
		$('.table-responsive').responsiveTable();
	})(jQuery);
</script>