

	<page-title ng-if="layoutOptions.pageTitles" title="Registro de Concesionario" description="Debe ingresar la información completa del concesionario que se va a dar de alta en el sistema"></page-title>


<div class="panel panel-default">

	<div class="panel-heading">
		<div class="panel-title">
			Registro de concesionario
		</div>
		
		<small class="text-small pull-right" style="padding-top:5px;">
			<!--<code>data-validate="rule1,rule2,...,ruleN"</code>-->
		</small>
	</div>
	
	<div class="panel-body">
	
		<form role="form" id="form1" method="post" class="validate">
			
			<div class="form-group">
				<label class="control-label">Subdirección</label>
				
				<input type="text" class="form-control" name="rc_subdireccion" data-validate="required" data-message-required="Ingrese su nombre, por favor" />
			</div>
			
			<div class="form-group">
				<label class="control-label">Región</label>
				
				<input type="text" class="form-control" name="rc_region" data-validate="email"  />
			</div>
			
			<div class="form-group">
				<label class="control-label">Razón Social</label>
				
				<input type="text" class="form-control" name="rc_razonsocial" data-validate="number,minlength[4]" />
			</div>
			
			<div class="form-group">
				<label class="control-label">No. Cuenta</label>
				
				<input type="text" class="form-control" name="rc_nocuenta" data-validate="maxlength[2]" />
			</div>
			
			<div align="right" class="form-group">
				<button type="submit" class="btn btn-success">Crear Concesionario</button>
			</div>
		
		</form>
	
	</div>

</div>


<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Tiendas asociadas</h3>
			<div class="panel-options btn1"><button type="submit" class="btn btn-success">Agregar</button></div>
	</div>
	<div class="panel-body">
		
		<div class="table-responsive" data-pattern="priority-columns" data-focus-btn-icon="fa-asterisk" data-sticky-table-header="true" data-add-display-all-btn="false" data-add-focus-btn="false">
		
			<table cellspacing="0" class="table table-small-font table-bordered table-striped">
				<thead>
					<tr>
						<th>Nombre</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th>Tienda COMEX Talisman</th>
					</tr>		
				</tbody>
			</table>
		</div>
		
	</div>
</div>


<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Usuarios administradores</h3>
			<div class="panel-options btn1"><button type="submit" class="btn btn-success">Agregar</button></div>
	</div>
	<div class="panel-body">
		
		<div class="table-responsive" data-pattern="priority-columns" data-focus-btn-icon="fa-asterisk" data-sticky-table-header="true" data-add-display-all-btn="false" data-add-focus-btn="false">
		
			<table cellspacing="0" class="table table-small-font table-bordered table-striped">
				<thead>
					<tr>
						<th>Nombre</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th>Gerardo Ramirez Alvarez</th>
					</tr>		
				</tbody>
			</table>
		</div>
		
	</div>
</div>
<script>
	;(function($)
	{
		$('.table-responsive').responsiveTable();
	})(jQuery);
</script>