<page-title ng-if="layoutOptions.pageTitles" class="encabezados"
	title="Registro de Crédito a Empleado"
	description="Debe ingresar la información completa"></page-title>

<div cclass="panel panel-default">
	<span class="validate-has-error" ng-show="form.$submitted ">{{errorsubmit}}</span>
	<div class="panel-body txtparrafos">
		<form role="forl" id="saveProduct" class="validate" validate name="saveProduct"
			ng-submit="submitTheForm()" method="post">

			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label class="control-label" for="fam_pro">Filtros</label>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<input type="text" class="form-control" id="nombre"
							placeholder="Nombre" ng-model="filtroEmpleado.nombre">
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<input type="text" class="form-control" id="apellidoPaterno"
							placeholder="Apellido Paterno" ng-model="filtroEmpleado.apellidoPaterno">
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label" for="fam_pro">Empleado</label> <select name="fam_pro" class="form-control"
							ng-model="credItem.idEmpleado" required
							title="Campo obligatorio">
							<option value="">---Seleccione empleado---</option>
							<option ng-repeat="catalogItem in listaEmpleados"
								value="{{catalogItem.idEmpleado}}"
								ng-selected="catalogItem.idEmpleado==credItem.idEmpleado">{{catalogItem.nombreCompleto}}</option>

						</select>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label" for="fam_pro">Tipo de Crédito</label> <select name="fam_pro" class="form-control"
							ng-model="credItem.idTipoCredito" required
							title="Campo obligatorio">
							<option value="">---Seleccione tipo crédito---</option>
							<option ng-repeat="catalogItem in listaTiposCredito"
								value="{{catalogItem.idCatalogo}}"
								ng-selected="catalogItem.idCatalogo==creditoItem.idTipoCredito">{{catalogItem.nombre}}</option>

						</select>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label" for="mon_min">Monto </label> <input
							class="form-control" name="monto" type="number"
							placeholder="Ingrese el monto mínimo"
							ng-model="credItem.monto"
							placeholder="Ingrese el monto"
							title="Campo obligatorio, ingrese un número válido" required>
					</div>
				</div>
								<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Descuento por nómina</label> <input
							type="number" class="form-control" name="pago_mil"
							placeholder="Ingrese el descuento"
							ng-model="credItem.pago" data-validate="required"
							title="Campo obligatorio, ingrese un número válido" required />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">Fecha de Emisión</label> <input
							class="form-control datepicker" data-start-view="2" ng-model="credItem.fechaEmision" 
							placeholder="Ingrese Fecha de Emisión" required>
					</div>
				</div>
			</div>
			<ul class="pager wizard">
				<p align="right">
					<button type="submit" align="right" class="btn btn-success" ng-disabled="!saveProduct.$valid">Validar</button>
				</p>

			</ul>
		</form>
		<!-- Main Footer -->
		<!-- Choose between footer styles: "footer-type-1" or "footer-type-2" -->
		<!-- Add class "sticky" to  always stick the footer to the end of page (if page contents is small) -->
		<!-- Or class "fixed" to  always fix the footer to the end of page -->


	</div>