

<!-- Custom column filtering -->
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Créditos Empleados</h3>
		<div class="panel-options btn1">
			<a
				ui-sref="app.creditoEmpleado-form({credItem:credItem, listaTipos:listaTiposCredito, listaEstatus: listaEstatusCredito})"
				type="submit" class="btn btn-success">Nuevo</a>
		</div>
	</div>
	<div class="panel-body">
		<!-- Default panel -->
		<div class="panel panel-default">
			<!-- Add class "collapsed" to minimize the panel -->
			<div class="panel-heading">
				<h4 class="panel-title">Filtros</h4>
				<div class="panel-options">
					<a href=""> <i class="linecons-cog"> </i>
					</a> <a href="" data-toggle="panel"> <span class="collapse-icon"
						style="color: black"> &ndash; </span> <span class="expand-icon"
						style="color: black"> + </span>
					</a>
				</div>
			</div>
			<div class="panel-body">
				<form role="form">
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<script type="text/javascript">
									jQuery(document)
											.ready(
													function($) {
														$("#tipoCreditoFilter")
																.select2(
																		{
																			placeholder : 'Tipo crédito',
																			allowClear : true
																		})
																.on(
																		'select2-open',
																		function() {
																			$(
																					this)
																					.data(
																							'select2').results
																					.addClass(
																							'overflow-hidden')
																					.perfectScrollbar();
																		});

													});
								</script>
								<select class="form-control" id="tipoCreditoFilter"
									ng-model="filters.tiposCredito" multiple>
									<option ng-repeat="catalogItem in listaTiposCredito.items"
										value="{{catalogItem.idCatalogo}}">{{catalogItem.nombre}}</option>
								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<script type="text/javascript">
									jQuery(document)
											.ready(
													function($) {
														$(
																"#estatusCreditoFilter")
																.select2(
																		{
																			placeholder : 'Estatus crédito',
																			allowClear : true
																		})
																.on(
																		'select2-open',
																		function() {
																			$(
																					this)
																					.data(
																							'select2').results
																					.addClass(
																							'overflow-hidden')
																					.perfectScrollbar();
																		});

													});
								</script>
								<select class="form-control" id="estatusCreditoFilter"
									ng-model="filters.estatusCredito" multiple>
									<option ng-repeat="catalogItem in listaEstatusCredito.items"
										value="{{catalogItem.idCatalogo}}">{{catalogItem.nombre}}</option>
								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<input type="text" class="form-control" id="nombre"
									placeholder="Nombre" ng-model="filters.nombre">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<input type="text" class="form-control" id="apellidoPaterno"
									placeholder="Apellido Paterno" ng-model="filters.apellidoPaterno">
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="table-responsive" data-pattern="priority-columns"
			data-focus-btn-icon="fa-asterisk" data-sticky-table-header="true"
			data-add-display-all-btn="false" data-add-focus-btn="false">
			<table class="table table-small-font table-bordered table-striped"
				id="example-3">
				<thead>
					<tr class="replace-inputs">
						<th data-priority="3">Nombre</th>
						<th data-priority="3">Tipo</th>
						<th data-priority="3">Estatus</th>
						<th data-priority="3">Monto</th>
						<th data-priority="3">Monto Descuento</th>
						<th data-priority="3">Saldo</th>
						<th data-priority="3">Emisión</th>
						<th data-priority="3">U. Pago</th>						
						<th data-priority="1">Acción</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="creditoItem in creditos">
						<td>{{creditoItem.nombreEmpleado}}</td>
						<td>{{creditoItem.nombreTipoCredito}}</td>
						<td>{{creditoItem.nombreEstatusCredito}}</td>
						<td>{{creditoItem.monto| currency}}</td>
						<td>{{creditoItem.pago| currency}}</td>
						<td>{{creditoItem.saldo | currency}}</td>
						<td>{{creditoItem.fechaEmision}}</td>
						<td>{{creditoItem.fechaUltimoPago}}</td>
						<td><a
							ui-sref="app.creditoEmpleado-form({credItem:creditoItem, listaTipos:listaTiposCredito, listaEstatus:listaEstatusCredito})"
							class="btn btn-secondary btn-sm btn-icon icon-left fa fa-pencil"
							title="Editar"> </a> <a href=""
							class="btn btn-danger btn-sm btn-icon icon-left fa fa-trash-o"
							title="Eliminar"> </a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<script>
	;
	(function($) {
		$('.table-responsive').responsiveTable();
	})(jQuery);
</script>
