

<!-- Custom column filtering -->
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Permisos</h3>
		
		<div class="panel-options btn1"><a href="index.html#/app/users-reg_permisos_usuarios" class="btn btn-success">Nuevo</a></div>
	</div>
	<div class="panel-body">
		

		<div class="table-responsive" data-pattern="priority-columns" data-focus-btn-icon="fa-asterisk" data-sticky-table-header="true" data-add-display-all-btn="true" data-add-focus-btn="false"  >
		
		<table class="table table-small-font table-bordered table-striped" id="example-3">
			<thead>
				<tr class="replace-inputs">
					<th>Nombre del Permiso</th>
					<th data-priority="3">Fecha y Hora</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Seguridad</td>
					<td>02/01/2016 9:00</td>
					<td>
						<a href="" class="btn btn-secondary btn-sm btn-icon icon-left fa fa-pencil">
						</a>
						
						<a href="" class="btn btn-danger btn-sm btn-icon icon-left fa fa-trash-o">
						</a>
						
						<a href="" class="btn btn-info btn-sm btn-icon icon-left fa fa-file-text-o">
						</a>
					</td>
				</tr>
				<tr>
					<td>Carga de datos</td>
					<td>02/01/2016 18:00</td>
					<td>
						<a href="" class="btn btn-secondary btn-sm btn-icon icon-left fa fa-pencil"></a>
						<a href="" class="btn btn-danger btn-sm btn-icon icon-left fa fa-trash-o"></a>
						<a href="" class="btn btn-info btn-sm btn-icon icon-left fa fa-file-text-o"></a>
					</td>
				</tr>
			</tbody>
			
		</table>
		</div>
	</div>
</div>

<script>
	;(function($)
	{
		$('.table-responsive').responsiveTable();
	})(jQuery);
</script>