
<!-- Custom column filtering -->
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Créditos</h3>
		<div class="panel-options btn1" ng-show="crearCredito">
			<a ui-sref="app.clientescreditoform({cliente: cliente})"
				type="submit" class="btn btn-success">Nuevo Crédito</a>
		</div>
	</div>
	<div class="panel-body">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="panel-title encabezados">Datos del cliente</div>
				<small class="text-small pull-right" style="padding-top: 5px;">
				</small>
			</div>
			<!-- Default panel -->
			<div class="collapsed panel-default">
				<!-- Add class "collapsed" to minimize the panel -->
				<div class="panel-body">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
							<p>{{cliente.cveFiscal}}</p>
							</div>
						<div class="form-group">
							<p>{{cliente.ruta}}</p>
							</div>	
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<p>{{cliente.nombre}} {{cliente.apellidoPaterno}} {{cliente.apellidoMaterno}}</p>
							</div>
							<div class="form-group">
							<p>{{cliente.rutaNombre.titular.nombre}} 
							   {{cliente.rutaApellidoPaterno.titular.apellidoPaterno}} 
							   {{cliente.rutaApellidoMaterno.titular.apellidoMaterno}}</p>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
		<div class="table-responsive" data-pattern="priority-columns"
			data-focus-btn-icon="fa-asterisk" data-sticky-table-header="true"
			data-add-display-all-btn="false" data-add-focus-btn="false">
			<table class="table table-small-font table-bordered table-striped"
				id="example-3">
				<thead>
					<tr class="replace-inputs">
						<th data-priority="3">No. Crédito</th>
						<th data-priority="1">Producto</th>
						<th data-priority="1">Estatus</th>
						<th data-priority="3">Fecha Emisión</th>
						<th data-priority="3">Fecha Vencimiento</th>
						<th data-priority="3">Fecha Último Pago</th>
						<th data-priority="3">Fecha Cancel</th>
						<th data-priority="3">Monto</th>
						<th data-priority="1">Saldo</th>
						<th data-priority="1">Pendiente Aplicar</th>
						<th data-priority="3">Saldo Comisión</th>
						<th data-priority="3">Plazo</th>
						<th>Pago</th>
						<th data-priority="3">Calificación</th>
						<th data-priority="3">Observaciones</th>
						<th data-priority="1">Acción</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="creditoItem in creditos">
						<td>{{creditoItem.id}}</td>
						<td>{{creditoItem.producto}}</td>
						<td>{{creditoItem.estatusCredito}}</td>
						<td>{{creditoItem.fechaEmision}}</td>
						<td>{{creditoItem.fechaVencimiento}}</td>
						<td>{{creditoItem.fechaUltimoPago}}</td>
						<td>{{creditoItem.fechaCancelacion}}</td>
						<td class="center">{{creditoItem.monto | currency}}</td>
						<td class="center">{{creditoItem.saldo | currency}}</td>
						<td class="center">{{creditoItem.pagoAdicional | currency}}</td>
						<td class="center">{{creditoItem.saldoComision | currency}}</td>
						<td class="center"><span class="label label-success">{{creditoItem.plazo}}</span></td>
						<td>{{creditoItem.pago | currency}}</td>
						<td>{{creditoItem.calificacion | number}}</td>
						<td>({{creditoItem.motivoCancelacion}}){{creditoItem.observaciones}}</td>
						<td>
						<a ng-show="editarCredito"
							ui-sref="app.clientescreditoform({ cliente: cliente, credito: creditoItem })"
							class="btn btn-secondary btn-sm btn-icon icon-left fa fa-pencil" title="Editar">
						</a>
						<a
							href="" ng-click="creditoSelected(cliente,creditoItem)"
							class="btn btn-info btn-sm btn-icon icon-left fa fa-list-alt" title="Tabla amortizacion">
						</a> 
						<a ng-show="estatusCredito == 'Activo' && habilitarPago&&pagar"
							ui-sref="app.creditopagoform({credito: creditoItem, cliente: cliente})"
							class="btn btn-secondary btn-sm btn-icon icon-left fa fa-dollar" title="Registrar pago">
						</a> 
						<!-- a href=""
							class="btn btn-info btn-sm btn-icon icon-left fa fa-file-text-o">
						</a-->
						<a ng-show="reestructurar"
							href="" ui-sref="app.clientescreditorest({ cliente: cliente, credito: creditoItem, tipo:'REST' })"
							class="btn btn-info btn-sm btn-icon icon-left fa fa-history" title="Reestructurar">
						</a>
						<a ng-show="reestructurar"
							href="" ui-sref="app.clientescreditonego({ cliente: cliente, credito: creditoItem, tipo:'NEGO' })"
							class="btn btn-info btn-sm btn-icon icon-left fa fa-recycle" title="Renegociación">
						</a>
						<a href="" ng-click="generaEstadoCuenta(creditoItem.idCredito)"
							class="btn btn-secondary btn-sm btn-icon icon-left fa fa-info " title="Estado Cuenta">
						</a>
						<a
							ng-show="creditoItem.estatusCredito=='Activo'"
							href="" ng-click="cancelaCredito(creditoItem.idCredito,'NodeModal','lg')"
							class="btn btn-danger btn-sm btn-icon icon-left fa fa-trash-o" title="Cancelar">
						</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<div class="panel panel-default" ng-show="selectedCredito">
	<div class="panel-heading">
		<h3 class="panel-title">Tabla de amortización</h3>
		<div class="panel-options btn1" ng-show="habilitarPago&&pagar&&estatusCredito =='Activo'">
			<a ui-sref="app.creditopagoform({credito: creditoItem, cliente: cliente})"
				type="submit" class="btn btn-success">Registrar pago</a>
		</div>
	</div>
	<div class="panel-body">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="panel-title encabezados">Datos del crédito</div>
				<small class="text-small pull-right" style="padding-top: 5px;">
				</small>
			</div>
			<!-- Default panel -->
			<div class="collapsed panel-default">
				<!-- Add class "collapsed" to minimize the panel -->
				<div class="panel-body">
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
							<p>
							Producto: <b>{{producto}}</b> 
							Estatus: <b>{{estatusCredito}}</b> 
							Plazo: <b>{{plazo|number}}</b> 
							Saldo: <b>{{saldo|currency}}</b>
							</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="table-responsive" data-pattern="priority-columns"
			data-focus-btn-icon="fa-asterisk" data-sticky-table-header="true"
			data-add-display-all-btn="false" data-add-focus-btn="false">
			<table class="table table-small-font table-bordered table-striped"
				id="example-3">
				<thead>
					<tr class="replace-inputs">
						<th data-priority="1">No. Pago</th>
						<th data-priority="1">Estatus</th>
						<th data-priority="3">Tipo Pago</th>
						<th data-priority="3">Fecha Vencimiento</th>
						<th data-priority="3">Amortización</th>
						<th data-priority="3">Intereses</th>
						<th data-priority="3">Iva Intereses/Comisión</th>
						<th data-priority="1">Pago</th>
						<th data-priority="3">Fecha Pago</th>
						<th data-priority="3">Acción</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in tablaAmortizacion">
						<td>{{item.numPago}}</td>
						<td>{{item.estatusPago}}</td>
						<td>{{item.tipoPago}}</td>
						<td>{{item.fechaVencimiento}}</td>
						<td>{{item.amortizacion | currency}}</td>
						<td>{{item.interes | currency}}</td>
						<td>{{item.ivaInteres | currency }}</td>
						<td>{{item.pagoFijo | currency}}</td>
						<td>{{item.fechaPago}}</td>
						<td>
						<a ng-show="item.fechaPago && {{estatusCredito =='Activo'}}"
							ui-sref="app.editpagoform({ idPago:item.idPago})"
							class="btn btn-info btn-sm btn-icon icon-left fa fa-recycle">
						</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<script>
	;
	(function($) {
		$('.table-responsive').responsiveTable();
	})(jQuery);
</script>