<script src="assets/js/xenon-custom.js"></script>
<div class="page-container">
	<div class="main-content">

		<!-- Form wizard with validation starts here -->
		<h3 class="text-gray">
			Formulario Cliente <br />
		</h3>
		<form role="forl" id="rootwizard" name="form"
			class="form-wizard validate" novalidate>
			<ul class="tabs">
				<li class="active"><a data-target="#fwv-1" data-toggle="tab">
						Datos Generales <span>1</span>
				</a></li>
				<li><a data-target="#divDatos" data-toggle="tab"> Datos <span>2</span>
				</a></li>
				<li><a data-target="#fwv-3" data-toggle="tab"> Información
						Laboral <span>3</span>
				</a></li>
				<li><a data-target="#fwv-4" data-toggle="tab"> Infomación
						Residencial <span>4</span>
				</a></li>
				<li><a data-target="#fwv-5" data-toggle="tab"> Referencias
						<span>5</span>
				</a></li>
			</ul>

			<div class="progress-indicator">
				<span></span>
			</div>

			<div class="tab-content no-margin">
				<div class="tab-pane with-bg active" id="fwv-1">

					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label">Tipo Figura</label> <select
									name="figura" class="form-control"
									ng-model="cliente.idTipoFigura" ng-disabled="true"
									option="false" hide="true" title="Campo obligatorio" required>
									<option ng-repeat="documento in ItemTipoFigura "
										ng-selected="documento.claveInterna==figura"
										value="{{documento.idCatalogo}}">{{documento.nombre}}</option>

								</select>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label" for="ruta">Ruta</label> <select
									name="ruta" class="form-control" ng-model="cliente.idRuta"
									required title="Campo obligatorio" ng-disabled="canEdit">
									<option value="">---Seleccione una ruta---</option>
									<option ng-repeat="documento in rutas"
										ng-selected="documento.id==cliente.idRuta"
										value="{{documento.id}}">{{documento.name}}</option>

								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label" for="ape_pa">Apellido
									Paterno</label> <input ng-disabled="canEdit" class="form-control"
									name="ape_pa" id="ape_pa" data-validate="required"
									placeholder="Ingrese su apellido paterno"
									title="Campo obligatorio" ng-model="cliente.apellidoPaterno" type="text"
									ng-pattern="/^[a-zñA-ZÑ\s]*$/"/>
									<span
									ng-show="(form.$submitted || form.ape_pa.$touched) && form.ape_pa.$error.pattern"
									class="validate has-error" translate="GENERAL_REQUIRED"
									style="border-color: #cc3f44; color: #cc3f44;">Solo se aceptan caracteres</span>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label" for="ape_mat">Apellido
									Materno</label> <input ng-disabled="canEdit" class="form-control"
									name="ape_mat" id="ape_mat" data-validate="required"
									placeholder="Ingrese su apellido materno"
									title="Campo obligatorio" ng-model="cliente.apellidoMaterno" 
									ng-pattern="/^[a-zñA-ZÑ\s]*$/"/>
									<span
									ng-show="(form.$submitted || form.ape_mat.$touched) && form.ape_mat.$error.pattern"
									class="validate has-error" translate="GENERAL_REQUIRED"
									style="border-color: #cc3f44; color: #cc3f44;">Solo se aceptan caracteres</span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label" for="full_name">Nombre(s)</label> <input
									ng-disabled="canEdit" class="form-control" name="full_name"
									id="full_name" data-validate="required"
									placeholder="Ingrese su nombre(s)" title="Campo obligatorio"
									ng-model="cliente.nombre"
									ng-pattern="/^[a-zñA-ZÑ\s]*$/" />
									<span
									ng-show="(form.$submitted || form.full_name.$touched) && form.full_name.$error.pattern"
									class="validate has-error" translate="GENERAL_REQUIRED"
									style="border-color: #cc3f44; color: #cc3f44;">Solo se aceptan caracteres</span>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label" for="born">Fecha de
									Nacimiento</label> <input ng-disabled="canEdit"
									data-validate="required"
									class="form-control datepicker data-format=yyyy-MM-dd"
									data-start-view="2" name="born" id="born" type="text"
									placeholder="Ingrese su fecha de nacimiento"
									ng-model="cliente.fechaNacimiento" title="Campo obligatorio">
								<span
									ng-show="(form.$submitted || form.born.$touched) && form.born.$error.text"
									class="validate has-error" translate="GENERAL_REQUIRED"
									style="border-color: #cc3f44; color: #cc3f44;">Formato
									inválido, sólo números</span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label">RFC</label>
								<div class="input-group input-group-sm input-group-minimal">
								 <input
									ng-disabled="canEdit" data-validate="required"
									class="form-control" name="rfc" type="text" id="rfc"
									placeholder="Ingrese su RFC" ng-model="cliente.cveFiscal"
									title="Campo obligatorio "
									ng-pattern="/^([A-ZÑ\x26]{3,4}([0-9]{2})(0[1-9]|1[0-2])(0[1-9]|1[0-9]|2[0-9]|3[0-1]))([A-Z\d]{3})?/"
									 />
									<span class="input-group-addon"> <i	class="linecons-star" title="Generar" ng-click="generaRFC()"></i>
									</span>
									<span
									ng-show="(form.$submitted || form.rfc.$touched) && form.rfc.$error.pattern"
									class="validate has-error" translate="GENERAL_REQUIRED"
									style="border-color: #cc3f44; color: #cc3f44;">Ingrese
									un RFC válido</span>
									</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label">Género</label> <select
									ng-disabled="canEdit" class="form-control" name="genero" id="generoForm"
									ng-model="cliente.idGenero" title="Campo obligatorio" required>
									<option value="">---Seleccione un género---</option>

									<option ng-repeat="documento in allGenero.items"
										ng-selected="documento.idCatalogo==cliente.idGenero"
										value="{{documento.idCatalogo}}">{{documento.nombre}}</option>
								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label" for="tipodocId">Tipo de
									Documento de Identificación Oficial</label>
									 <select
									ng-disabled="canEdit" name="tipodocId" class="form-control"
									ng-model="auxDocumento" required
									title="Campo obligatorio" ng-options="documento.nombre for documento  in allTipoDocId.items"
									 ng-change="getRequeridos(auxDocumento)">
									 <option value="">---Seleccione un tipo de documento---</option>
									<option ng-repeat="documento in allTipoDocId"
										
										value="{{documento.id}}">{{documento.name}}</option>
								</select>
							</div>
						</div>
					
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label" for="num_doc">Número de
									Documento</label> <input ng-disabled="canEdit" type="text"
									class="form-control" data-validate="required" name="num_doc"
									placeholder="Ingresa el número de documento"
									ng-model="cliente.docIdentificacion"
									title="Campo obligatorio,ingrese un número válido" 
									ng-maxlength="{{carRequeridos}}" ng-minlength="{{carRequeridos}}"/>
								<span ng-show="form.num_doc.$error.maxlength || form.num_doc.$error.minlength" 
								class="help-inline" style="color:red">*El tipo de documento require {{carRequeridos}} caracteres</span> 
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label">E-mail</label> <input
									ng-disabled="canEdit" type="email" class="form-control"
									name="email" id="email" ng-model="cliente.correoElectronico"
									placeholder="Ingrese su correo electrónico" title=" " /> <span
									class="error"
									ng-show="(form.$submitted || form.email.$touched) && form.email.$error.required"
									style="border-color: #cc3f44; color: #cc3f44;">Campo
									obligatorio</span> <span class="validate has-error"
									ng-show="form.email.$error.email"
									style="border-color: #cc3f44; color: #cc3f44;">Email
									Inválido</span>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label">Teléfono de Cobro</label>

								<div class="input-group input-group-sm input-group-minimal">
									<span class="input-group-addon"> <i
										class="linecons-mobile"></i>
									</span> <input ng-disabled="canEdit" type="text" class="form-control "
										data-mask="phone" ng-model="cliente.telLab"  id="telCobro" name="telCobro"
										placeholder="Ingrese su teléfono de cobro"  ng-required="true"/>
								</div>
							</div>
							<br />
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label">Teléfono Residencial</label>

								<div class="input-group input-group-sm input-group-minimal">
									<span class="input-group-addon"> <i
										class="linecons-mobile"></i>
									</span> <input ng-disabled="canEdit" type="text" class="form-control"
										data-mask="phone" ng-model="cliente.telResidencia" id="telRes" name="telRes"
										placeholder="Ingrese su teléfono residencial" ng-required="true"/>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label">Teléfono Célular</label>

								<div class="input-group input-group-sm input-group-minimal">
									<span class="input-group-addon"> <i
										class="linecons-mobile"></i>
									</span> <input ng-disabled="canEdit" type="text" class="form-control"
										data-mask="phone" 
										ng-model="cliente.telCelular" id="telCel" name = "telCel"
										placeholder="Ingrese su teléfono celular" ng-required="true" />
								</div>
							</div>
						</div>
					</div>
				</div>
<!-- id="fwv-1" -->
				<a name="divDatos"></a>
				<div class="tab-pane with-bg" id="divDatos">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label" for="pais">País de
									Nacimiento</label> <select ng-disabled="canEdit" name="pais"
									class="form-control" ng-model="cliente.idPaisNacimiento"
									title="Campo obligatorio" required>
									<option value="">---Seleccione un país---</option>
									<option ng-repeat="documento in allPais.items"
										ng-selected="documento.idCatalogo==cliente.idPaisNacimiento"
										value="{{documento.idCatalogo}}">{{documento.nombre}}</option>
								</select>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label" for="estadoNac">Estado de
									Nacimiento</label><select ng-disabled="canEdit" name="estadoNac" id="estadoNacimiento"
										class="form-control" ng-model="cliente.idEntidadNacimiento"
										title="Campo obligatorio" required  ng-change = "calculaRFCURP()">
										<option value="">---Seleccione un estado---</option>
										<option ng-repeat="documento in allEntidadNac.items"
											ng-selected="documento.idCatalogo==cliente.idEntidadNacimiento"
											value="{{documento.idCatalogo}}">{{documento.nombre}}</option>
									</select>
								</div>
							</div>
						
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label">Curp</label>
								<div class="input-group input-group-sm input-group-minimal">
								 <input
									ng-disabled="canEdit" data-validate="required"
									class="form-control" type="text" name="curp" id="curp"
									placeholder="Ingrese su Curp"
									ng-pattern="/^([a-z]{4})([0-9]{6})([a-z]{6})([0-9]{0,2})$/i"
									ng-model="cliente.curp" title="Campo obligatorio" />
									<span class="input-group-addon"> <i	class="linecons-star" title="Generar" ng-click="generaCURP()"></i>
									</span>
									 <span
									ng-show="(form.$submitted || form.curp.$touched) && form.curp.$error.pattern"
									class="validate has-error" translate="GENERAL_REQUIRED"
									style="border-color: #cc3f44; color: #cc3f44;">Ingrese
									una Curp válida</span>
									</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label" for="ocupacion">Ocupación</label> <select
									ng-disabled="canEdit" name="ocupacion" class="form-control"
									ng-model="cliente.idOcupacion" title="Campo obligatorio" required>
									<option value="">---Seleccione una ocupación---</option>
									<option ng-repeat="documento in allOcupacion.items"
										ng-selected="documento.idCatalogo==cliente.idOcupacion"
										value="{{documento.idCatalogo}}">{{documento.nombre}}</option>
								</select>
							</div>
						</div>
					</div>
				</div>
<!-- DIV INF RESIDENCIAL -->
				<div class="tab-pane with-bg" id="fwv-4">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<button ng-show="crearCliente" type="button"
									class="btn btn-info btn-single pull-left" ng-click="copyDom();">Autocompletar
									con Datos de Domicilio Laboral</button>
							</div>
						</div>
					</div>
					<br />
					<div class="row">
					<div class="col-md-6">
						
							<div class="form-group">
								<label class="control-label" for="c_p">Código Postal</label> <input data-validate="required"
									ng-disabled="canEdit" class="form-control" name="c_p"
									type="text" id="c_p" placeholder="Ingrese su código postal"
									title="Campo obligatorio"
									ng-model="cliente.domicilioResidencial.codigoPostal" />
							</div>
						</div>
					
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label" for="calle">Calle</label> <input
									ng-disabled="canEdit" class="form-control" name="calle"
									id="calle" data-validate="required"
									placeholder="Ingrese el nombre de su calle"
									title="Campo obligatorio"
									ng-model="cliente.domicilioResidencial.calle" />
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label" for="num_ext">Número
									Exterior</label> <input ng-disabled="canEdit" class="form-control"
									name="num_ext" data-validate="required" id="num_ext"
									placeholder="Ingrese número exterior" title="Campo obligatorio"
									ng-model="cliente.domicilioResidencial.numExt" />
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label" for="num_int">Número
									Interior</label> <input ng-disabled="canEdit" class="form-control"
									name="num_int" id="num_int"
									placeholder="Ingrese número interior" title="Campo obligatorio"
									ng-model="cliente.domicilioResidencial.numInt" />
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<!-- div class="form-group">
								<label class="control-label" for="colonia">Colonia</label> <select
									ng-disabled="canEdit" name="colonia" class="form-control"
									id="colonia" placeholder="Ingrese Colonia"
									title="Campo obligatorio"
									ng-model="cliente.domicilioResidencial.colonia">
									<option value="">---Seleccione una colonia---</option>
								</select>
							</div-->
							<div class="form-group">
								<label class="control-label" for="colonia_residencial">Colonia</label> 
								<select data-validate="required"
									ng-disabled="canEdit" name="colonia_residencial" class="form-control"
									id="colonia_residencial" placeholder="Ingrese Colonia"
									title="Campo obligatorio" requiered
									ng-model="cliente.domicilioResidencial.colonia">
									<option value="">---Seleccione una colonia---</option>
								</select>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label" for="municipio">Municipio</label>
								 <input
									ng-disabled="canEdit" class="form-control" name="municipioRes"
									id="municipioRes" placeholder="Ingrese su Municipio/Delegación"
									ng-model="cliente.domicilioResidencial.municipio" />
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label" for="estadoRes">Estado</label>
									<input id="estado_res" class= "form-control" ng-disabled="canEdit" name="estado_res" placeholder="Ingrese estado de residencia"
								title="Campo requerido" ng-model="cliente.domicilioResidencial.estado" required/>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label" for="paisRes">País</label>
								<input id="paisRes" class= "form-control" ng-disabled="canEdit" name=""paisRes"" placeholder="Ingrese país de residencia"
								title="Campo requerido" ng-model="cliente.domicilioResidencial.pais" required/>
							</div>
						</div>
					</div>
				</div>
			<!-- DIV Domicilio id="fwv-3" -->
				<div class="tab-pane with-bg" id="fwv-3">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label" for="emp">Nombre de la
									empresa</label> <input ng-disabled="canEdit" class="form-control"
									name="nom_emp" id="nom_emp" data-validate="required"
									placeholder="Ingrese nombre de la empresa"
									title="Campo obligatorio" ng-model="cliente.nombreEmpresa" />
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
						
							<div class="form-group">
								<label class="control-label" for="c_p">Código Postal</label> <input data-validate="required"
									ng-disabled="canEdit" class="form-control" name="c_p"
									type="text" id="c_p" placeholder="Ingrese su código postal"
									title="Campo obligatorio"
									ng-model="cliente.domicilioLaboral.codigoPostal" />
							</div>
						</div>

						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label" for="calle">Calle</label> <input
									ng-disabled="canEdit" class="form-control" name="calle_emp"
									id="calle_emp" data-validate="required"
									placeholder="Ingresa la calle de la empresa"
									title="Campo obligatorio"
									ng-model="cliente.domicilioLaboral.calle" />
							</div>
						</div>

					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label" for="num_ext_emp">Número
									Exterior</label> <input ng-disabled="canEdit" class="form-control"
									name="num_ext_emp" id="num_ext_emp" data-validate="required"
									placeholder="Ingrese número exterior de la empresa"
									title="Campo obligatorio"
									ng-model="cliente.domicilioLaboral.numExt" />
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label" for="num_int_emp">Número
									Interior</label> <input ng-disabled="canEdit" class="form-control"
									name="num_int_emp" id="num_int_emp"
									placeholder="Ingrese número interior de la empresa"
									title="Campo obligatorio"
									ng-model="cliente.domicilioLaboral.numInt" />
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
						<div class="form-group">
								<label class="control-label" for="colonia">Colonia</label> <select data-validate="required"
									ng-disabled="canEdit" name="colonia" class="form-control"
									id="colonia" placeholder="Ingrese Colonia"
									title="Campo obligatorio" requiered
									ng-model="cliente.domicilioLaboral.colonia">
									<option value="">---Seleccione una colonia---</option>
								</select>
							</div>
							
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label" for="municipio_emp">Municipio</label>
								<input ng-disabled="canEdit" class="form-control"
									name="municipio_emp" id="municipio_emp"
									placeholder="Ingrese Municipio/Delegación de la Empresa"
									title="Campo obligatorio"
									ng-model="cliente.domicilioLaboral.municipio" />
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label" for="estado_emp">Estado</label>
								<div class="form-group">
								<input id="estado_emp" class= "form-control" ng-disabled="canEdit" name="estado_emp" placeholder="Ingrese estado de la empresa"
								title="Campo requerido" ng-model="cliente.domicilioLaboral.estado" required/>
								
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label" for="paisRes">País</label>
								<input id="paisLaboral" class= "form-control" ng-disabled="canEdit" name="paisLaboral" placeholder="Ingrese pais de la empresa"
								title="Campo requerido" ng-model="cliente.domicilioLaboral.pais" required/>
								
							</div>
						</div>
						
					</div>
				</div>
				<div class="tab-pane with-bg" id="fwv-5">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<strong>Referencia Personal</strong> <br /> <br /> <label
									class="control-label" for="nom_ref_per">Nombre</label> <input
									ng-disabled="canEdit" class="form-control" name="nom_ref_per"
									id="nom_ref_per"  ng-required="true"
									placeholder="Ingrese nombre de referencia personal"
									ng-model="cliente.nombreRefPersonal" ng-pattern="/^[a-zñA-ZÑ\s]*$/" /> <br /> 
									<span
									ng-show="(form.$submitted || form.nom_ref_per.$touched) && form.nom_ref_per.$error.pattern"
									class="validate has-error" translate="GENERAL_REQUIRED"
									style="border-color: #cc3f44; color: #cc3f44;">Solo se aceptan caracteres</span>
									<br>
									<label
									class="control-label">Teléfono de Referencia Personal</label>
								<div class="input-group input-group-sm input-group-minimal">
									<span class="input-group-addon"> <i
										class="linecons-mobile"> </i>
									</span> <input ng-disabled="canEdit" type="text" class="form-control" id="telRefPersonal"
										data-mask="phone" ng-model="cliente.telRefPersonal"  ng-required="true" name="telRefPersonal"/>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<strong>Referencia Familiar</strong> <br /> <br /> <label
									class="control-label" for="nom_ref_fam">Nombre</label> <input  ng-required="true"
									ng-disabled="canEdit" class="form-control" name="nom_ref_fam"
									id="nom_ref_fam" 
									placeholder="Ingrese nombre de referencia familiar"
									ng-model="cliente.nombreRefFamiliar" ng-pattern="/^[a-zñA-ZÑ\s]*$/"/> <br />
									<span
									ng-show="(form.$submitted || form.nom_ref_fam.$touched) && form.nom_ref_fam.$error.pattern"
									class="validate has-error" translate="GENERAL_REQUIRED"
									style="border-color: #cc3f44; color: #cc3f44;">Solo se aceptan caracteres</span>
									<br>
									 <label
									class="control-label">Teléfono de Referencia Familiar</label>
								<div class="input-group input-group-sm input-group-minimal">
									<span class="input-group-addon"> <i
										class="linecons-mobile"></i>
									</span> <input ng-disabled="canEdit" type="text" class="form-control" id="telRefFam"
										data-mask="phone" ng-model="cliente.telRefFamiliar" ng-required="true" name="telRefFam"/>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div class="form-group" align="right">
								<button type="submit" class="btn btn-primary"
									ng-click="submitTheForm()" ng-show="crearCliente" ng-disabled="form.$invalid">Finalizar
									Registro</button>
							</div>
						</div>
					</div>
				</div>
				<!-- id="fwv-6" -->
			</div>
			<!--  "tab-content no-margin" -->
			<!-- Tabs Pager -->
			<ul class="pager wizard">
				<li class="previous"><a href="#"><i
						class="entypo-left-open"></i> Anterior</a></li>

				<li class="next"><a href="#">Siguiente <i
						class="entypo-right-open"></i></a></li>
			</ul>
		</form>
	</div>
</div>
