

	<page-title ng-if="layoutOptions.pageTitles" title="Carga de Resultados desde Layouts" description="Debe ingresar la información completa del layout"></page-title>


<div class="panel panel-default">

	<div class="panel-heading">
		<div class="panel-title">
			Formulario
		</div>
		
		<small class="text-small pull-right" style="padding-top:5px;">
		</small>
	</div>
	
	<div class="panel-body">
	
		<form role="form" id="form1" method="post" class="validate">
			<div class="form-group">
				<label class="control-label">Cargar archivo</label>
				
				<input type="file" class="form-control" id="field-4">
			</div>
			<div class="form-group">
				<label class="control-label">Hoja</label>
				
							<select class="form-control">
								<option>Hoja 1</option>
								<option>Hoja 2</option>
								<option>Hoja 3</option>
								<option>Hoja 4</option>
								<option>Hoja 5</option>
							</select>
						
			</div>
			
			<div align="right" class="form-group">
				<button type="submit" class="btn btn-success">Cargar Ahora</button>
			</div>
		
		</form>
	
	</div>

</div>