<page-title ng-if="layoutOptions.pageTitles" class="encabezados" title="Registro de Permisos" description="Debe ingresar la información completa del rol que se va a dar de alta en el sistema"></page-title>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title encabezados">
            Datos Generales {{titulo}}
        </div>

        <small class="text-small pull-right" style="padding-top:5px;">
        </small>
    </div>

    <div class="panel-body txtparrafos">

		<form role="form" id="saveproject" name="saveproject" method="post"
			class="validate" ng-submit="submitTheForm()">

			<div class="form-group">
				<label class="control-label">Nombre de permiso</label> <input
					type="text" class="form-control" name="Name" ng-model="objSec.nombre"
					required />
			</div>

			<div class="form-group">
				<label class="control-label">Descripción de permiso</label> <input
					type="text" class="form-control" name="Name"
					ng-model="objSec.descripcion" required />
			</div>

			<div align="right" class="form-group">
				<button type="submit" class="btn btn-success"
					ng-disabled="!saveproject.$valid">Registrar Ahora</button>
			</div>


		</form>

	</div>
</div>


<!-- Custom column filtering -->
<div class="panel panel-default" ng-show="isUpdate">
    <div class="panel-heading">
        <h3 class="panel-title">Permisos del rol</h3>
        <div class="panel-options btn1"><a class="btn btn-success" ng-click="openModal('newPermissionModal', 'lg');">Agregar</a></div>
    </div>
    <div class="panel-body">
        <div class="table-responsive" data-pattern="priority-columns" data-focus-btn-icon="fa-asterisk" data-sticky-table-header="true" data-add-display-all-btn="true" data-add-focus-btn="false">
            <table class="table table-small-font table-bordered table-striped" id="example-3">
                <thead>
                    <tr class="replace-inputs">
                        <th>Nombre</th>
                        <th>Descripcion</th>
                        <th>Ultima actualización</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="permision in rol.Permissions">
                        <td>{{permision.Name}}</td>
                        <td>{{permision.LongDescription}}</td>
                        <td>{{permision.Creation}}</td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>

</div>




<script type="text/ng-template" id="newPermissionModal">
    <form role="form" id="formSection" name="formSection" method="post" class="validate" ng-submit="submitPermissionForm()">
        <div class="modal-header">
            <button type="button" class="close" ng-click="currentModal.close();" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Agregar permiso</h4>
        </div>

        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="field-1" class="control-label">Permiso</label>
                        <select class="form-control" id="s2example-2" name="SecObjectId" ng-model="permisson.idObjetoSeguridad" required >
                            <option value="">Selecciona uno</option>
                            <option ng-repeat="permissionVal in allPermission" ng-selected="{{permissionVal.idObjetoSeguridad}}" value="{{permissionVal.idObjetoSeguridad}}">{{permissionVal.descripcion}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-white" ng-click="currentModal.dismiss();">Cerrar</button>
            <button type="button" class="btn btn-info" ng-disabled="!formSection.$valid" ng-click="submitPermissionForm();">Guardar</button>
        </div>
    </form>
</script>