<page-title ng-if="layoutOptions.pageTitles" class="encabezados" title="Registro" description="Debe ingresar la información completa del rol que se va a dar de alta en el sistema"></page-title>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title encabezados">
            Datos Generales {{titulo}}
        </div>

        <small class="text-small pull-right" style="padding-top:5px;">
        </small>
    </div>

    <div class="panel-body txtparrafos">

		<form role="form" id="saveproject" name="saveproject" method="post"
			class="validate" ng-submit="submitTheForm()">

			<div class="form-group">
				<label class="control-label">Nombre de rol</label> <input
					type="text" class="form-control" name="Name" ng-model="objSec.nombre"
					required />
			</div>

			<div class="form-group">
				<label class="control-label">Descripcion de rol</label> <input
					type="text" class="form-control" name="Name"
					ng-model="objSec.descripcion" required />
			</div>

			<div align="right" class="form-group">
				<button type="submit" class="btn btn-success"
					ng-disabled="!saveproject.$valid">Registrar Ahora</button>
			</div>


		</form>

	</div>
    
</div>
<!-- Custom column filtering -->
<div class="panel panel-default" ng-show="isUpdate">
    <div class="panel-heading">
        <h3 class="panel-title">Usuarios del rol</h3>
        <div class="panel-options btn1"><a class="btn btn-success" ng-click="openModalUsr('newUserModal', 'lg');">Agregar</a></div>
    </div>
    <div class="panel-body">
        <div class="table-responsive" data-pattern="priority-columns" data-focus-btn-icon="fa-asterisk" data-sticky-table-header="true" data-add-display-all-btn="true" data-add-focus-btn="false">
            <table class="table table-small-font table-bordered table-striped" id="example-3">
                <thead>
                    <tr class="replace-inputs">
                        <th>Nombre</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="usuario in roleUsers">
                        <td>{{usuario.nombre}} {{usuario.apellidoPaterno}}</td>
                        <td>
                            <a href="" ng-click="removeUser(usuario.idUsuario,secObjId)" 
                            class="btn btn-danger btn-sm btn-icon icon-left fa fa-trash-o">
                            </a>
                        </td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>

</div>

<!-- Custom column filtering -->
<div class="panel panel-default" ng-show="isUpdate">
    <div class="panel-heading">
        <h3 class="panel-title">Permisos del rol</h3>
        <div class="panel-options btn1"><a class="btn btn-success" ng-click="openModal('newPermissionModal', 'lg');">Agregar</a></div>
    </div>
    <div class="panel-body">
        <div class="table-responsive" data-pattern="priority-columns" data-focus-btn-icon="fa-asterisk" data-sticky-table-header="true" data-add-display-all-btn="true" data-add-focus-btn="false">
            <table class="table table-small-font table-bordered table-striped" id="example-3">
                <thead>
                    <tr class="replace-inputs">
                        <th>Nombre</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="permision in objSec.permissions">
                        <td>{{permision.nombre}}</td>
                        <td>
                            <a href="" ng-click="removePermission(permision.idObjSegRel)" 
                            class="btn btn-danger btn-sm btn-icon icon-left fa fa-trash-o">
                            </a>
                        </td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>

</div>

<script type="text/ng-template" id="newPermissionModal">
    <form role="form" id="formSection" name="formSection" method="post" class="validate" ng-submit="submitPermissionForm()">
        <div class="modal-header">
            <button type="button" class="close" ng-click="currentModal.close();" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Agregar permiso</h4>
        </div>

        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="field-1" class="control-label">Permiso</label>
                        <select class="form-control" id="s2example-2" name="SecObjectId" ng-model="permisson.idObjetoSeguridad" required >
                            <option value="">Selecciona uno</option>
                            <option ng-repeat="permissionVal in allPermission" value="{{permissionVal.idObjetoSeguridad}}">{{permissionVal.descripcion}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-white" ng-click="currentModal.dismiss();">Cerrar</button>
            <button type="button" class="btn btn-info" ng-disabled="!formSection.$valid" ng-click="submitPermissionForm();">Guardar</button>
        </div>
    </form>
</script>


<script type="text/ng-template" id="newUserModal">
    <form role="form" id="formSection" name="formSection" method="post" class="validate" ng-submit="submitUsuarioForm()">
        <div class="modal-header">
            <button type="button" class="close" ng-click="currentModal.close();" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Agregar permiso</h4>
        </div>

        <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" id="nombre" placeholder="Nombre"  ng-model="userFilters.nombre">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" id="apellido" placeholder="Apellido" ng-model="userFilters.apellido" >
                            </div>
                        </div>
                    </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="field-1" class="control-label">Usuario</label>
                        <select class="form-control" id="usuarios" name="usuarios" ng-model="usuario.idUsuario" required >
                            <option value="">Selecciona uno</option>
                            <option ng-repeat="usuarioVal in allUsuarios" value="{{usuarioVal.idUsuario}}">{{usuarioVal.nombre}} {{usuarioVal.apellidoPaterno}} {{usuarioVal.apellidoMaterno}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-white" ng-click="currentModal.dismiss();">Cerrar</button>
            <button type="button" class="btn btn-info" ng-disabled="!formSection.$valid" ng-click="submitUsuarioForm();">Guardar</button>
        </div>
    </form>
</script>