
<div class="dx-warning hidden">
	<div>
		<h2>How to Include Charts Library in Xenon Theme</h2>

		<p>
			The reason why you don't see charts like in the Xenon demo website is
			because of license restrictions from DevExpress company. <a
				href="http://js.devexpress.com/DevExtremeWeb/?folder=EULAs"
				target="_blank">Click here</a> to read license agreement.
		</p>
		<p>Even that we have purchased the developer license we are not
			permitted to include the DevExtreme Web Charts JavaScript library in
			the default download file of Xenon theme, however you can include
			DevExpress Charts library manually and takes just few minutes:</p>

		<ol>
			<li>Download <strong>DevExtreme Web</strong> JavaScript library
				by clicking <a
				href="https://go.devexpress.com/DevExpressDownload_DevExtremeWebTrial.aspx"
				class="text-bold">here</a>. If the link doesn't work, then <a
				href="http://js.devexpress.com/Buy/" target="_parent"><strong>click
						this one</strong></a> and choose DevExtreme Web package to download.
			</li>
			<li>Extract the downloaded archive. There you will find <strong>Lib/</strong>
				folder. <strong>Copy</strong> the folders inside.
			</li>
			<li><strong>Paste</strong> copied files to <strong>assets/js/devexpress-web-14.1/</strong></li>
			<li>You are all set! Charts will look the same just like in the
				demo website.</li>
		</ol>
	</div>
</div>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		if (!$.isFunction($.fn.dxChart))
			$(".dx-warning").removeClass('hidden');
	});
</script>

<script type="text/javascript">
	
</script>

<div class="row">
	<div class="col-sm-3">
		<div class="panel panel-default">
			<!-- Add class "collapsed" to minimize the panel -->
			<div class="panel-heading">
				<h4 class="panel-title">Filtros</h4>
				<div class="panel-options">
					<a href=""> <i class="linecons-cog"></i>
					</a> <a href="" data-toggle="panel"> <span class="collapse-icon"
						style="color: black">&ndash;</span> <span class="expand-icon"
						style="color: black">+</span>
					</a>
				</div>
			</div>
			<div class="panel-body">
				<form role="form">
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<select class="form-control" id="division" multiple
									ng-model="filters.divisiones" ng-change="changeDiv()">
								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<select class="form-control" id="region" multiple
									ng-model="filters.regiones">
								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<select class="form-control" id="gerencia" multiple
									ng-model="filters.gerencias">
								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<select class="form-control" id="ruta" multiple
									ng-change="changeRutas()" ng-model="filters.rutas">
								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<input
								class="form-control datepicker data-format=yyyy-mm-dd"
								data-start-view="2" placeholder="Fecha Inicial"
								ng-model="filters.fechaInicial">
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<input
								class="form-control datepicker data-format=yyyy-mm-dd"
								data-start-view="2" placeholder="Fecha final"
								ng-model="filters.fechaFinal">
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<select name="fam_pro" class="form-control"
								ng-model="filters.periodo" >
								<option ng-repeat="catalogItem in periodos"
									value="{{catalogItem.idPeriodo}}">{{catalogItem.nombre}}</option>
							</select>
						</div>
					</div>
					
					
					<div class="form-group-separator"></div>
				</form>
			</div>
		</div>


	</div>
	<!-- Lines -->
	<div class="col-sm-9">
		<div class="row">
			<div class="col-sm-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Estado de la cartera</h3>
					<div class="panel-options">
						<a href="#" data-toggle="panel"> <span class="collapse-icon">
								&ndash; </span> <span class="expand-icon"> + </span>
						</a> <a href="#" data-toggle="remove"> &times; </a>
					</div>
				</div>
				<div class="panel-body">
					<div id="bar-3" style="height: 400px; width: 75%;"></div>
				</div>
			</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-10">
				<div class="row">
					<div class="col-sm-5">
						<div class="xe-widget xe-counter-block xe-counter-block-blue"
							data-separator=",">
							<div class="xe-upper">

								<div class="xe-icon">
									<i class="fa-area-chart"></i>
								</div>
								<div class="xe-label">
									<strong class="num">{{totalCartera | currency}}</strong> <span>Total
										Cartera</span>
								</div>

							</div>
							<div class="xe-lower">
								<div class="border"></div>

								<span>Cartera Capital</span> <strong data-count="this"
									data-from="0" data-to="{{totalCartera}}" data-duration="2"
									data-separator=",">{{carteraCapital | currency}}</strong>
							</div>
						</div>
					</div>
					<div class="col-sm-5">

						<div class="xe-widget xe-counter-block xe-counter-block-red"
							data-separator=",">
							<div class="xe-upper">

								<div class="xe-icon">
									<i class="fa-area-chart"></i>
								</div>
								<div class="xe-label">
									<strong class="num">{{totalCarteraVen | currency}}</strong> <span>Total
										Cartera Vencida</span>
								</div>

							</div>
							<div class="xe-lower">
								<div class="border"></div>
								<span>Total Créditos Vencidos</span> <strong data-count="this"
									data-from="0" data-to="{{countCreditosVen}}" data-duration="2"
									data-separator=",">{{countCreditosVen}}</strong>
							</div>
						</div>
					</div>
					</div>
					<div class="row">					
					<div class="col-sm-5">

						<div class="xe-widget xe-counter-block xe-counter-block-green"
							data-separator=",">
							<div class="xe-upper">

								<div class="xe-icon">
									<i class="fa-area-chart"></i>
								</div>
								<div class="xe-label">
									<strong class="num">{{countCreditosNvo | number}}</strong> <span>Créditos
										Nuevos</span>
								</div>

							</div>
							<div class="xe-lower">
								<div class="border"></div>
								<span>Total Créditos</span> <strong data-count="this"
									data-from="0" data-to="{{countClientesNvo}}" data-duration="2"
									data-separator=",">{{countCreditos}}</strong>
							</div>
						</div>
					</div>
					<div class="col-sm-5">

						<div class="xe-widget xe-counter-block xe-counter-block-green"
							data-separator=",">
							<div class="xe-upper">

								<div class="xe-icon">
									<i class="fa-area-chart"></i>
								</div>
								<div class="xe-label">
									<strong class="num">{{countClientesTot | number}}</strong> <span>Total
										Clientes</span>
								</div>

							</div>
							<div class="xe-lower">
								<div class="border"></div>
								<span>Clientes nuevos</span> <strong data-count="this"
									data-from="0" data-to="{{countClientesNvo}}" data-duration="2"
									data-separator=",">{{countClientesNvo}}</strong>
							</div>
							<div class="xe-lower">
								<div class="border"></div>
								<span>Clientes activos</span> <strong data-count="this"
									data-from="0" data-to="{{countClientesNvo}}" data-duration="2"
									data-separator=",">{{countClientesAct}}</strong>
							</div>
						</div>
					</div>

				</div>
				<div class="row">
					<div class="panel panel-default">
						<div class="panel-heading">Filtrar resultados</div>
						<div class="panel-body">

							<div class="row">
								<div class="col-sm-12">
									<div id="range-chart"></div>
								</div>
							</div>

						</div>
					</div>

					<div class="panel panel-default">
						<div class="panel-heading">Normalidad %</div>
						<div class="panel-body">

							<div class="row">
								<div class="col-sm-3">
									<p class="text-medium">Estado de normalidad de la cobranza</p>
									<div class="super-large text-secondary" xe-counter
										data-count="this" data-from="0" data-to="{{factorNormalidad}}"
										data-duration="1.5">{{factorNormalidad}}</div>
								</div>
								<div class="col-sm-3">
									<div id="normalidad" style="height: 150px;"></div>
								</div>
								<div class="col-sm-6">
									<div id="normalidad-chart" style="height: 150px;"></div>
								</div>
							</div>

						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">Cobranza %</div>
						<div class="panel-body">

							<div class="row">
								<div class="col-sm-3">
									<p class="text-medium">Cobranza efectiva por día.</p>
									<div class="super-large text-purple" xe-counter
										data-count="this" data-from="0" data-to="{{factorCobranza}}"
										data-duration="2">{{factorCobranza}}</div>
								</div>
								<div class="col-sm-3">
									<div id="ind-cobranza" style="height: 150px;"></div>
								</div>
								<div class="col-sm-6">
									<div id="ind-cobranza-chart" style="height: 150px;"></div>
								</div>
							</div>

						</div>
					</div>

				</div>
			</div>

		</div>

	</div>
	<!-- Lines -->

</div>
