<page-title ng-if="layoutOptions.pageTitles" class="encabezados"
	title="Registro de Producto"
	description="Debe ingresar la información completa"></page-title>

<div cclass="panel panel-default">
	<span class="validate-has-error" ng-show="form.$submitted ">{{errorsubmit}}</span>
	<div class="panel-body txtparrafos">
		<form role="forl" id="saveProduct" class="validate" validate name="saveProduct"
			ng-submit="submitTheForm()" method="post">

			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label" for="fam_pro">Familia
							Producto</label> <select name="fam_pro" class="form-control"
							ng-model="productoItem.idFamiliaProducto" required
							title="Campo obligatorio">
							<option value="">---Seleccione familia del producto---</option>
							<option ng-repeat="catalogItem in listaFamilias.items"
								value="{{catalogItem.idCatalogo}}"
								ng-selected="catalogItem.idCatalogo==productoItem.idFamiliaProducto">{{catalogItem.nombre}}</option>

						</select>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label" for="full_name">Nombre del
							Producto</label> <input class="form-control" name="full_name"
							id="full_name" placeholder="Ingrese el nombre del producto"
							ng-model="productoItem.nombre" title="Campo obligatorio" required />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label" for="field-5">Descripción</label>
						<textarea class="form-control" cols="5" id="field-5"
							ng-model="productoItem.descripcion"></textarea>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label" for="mon_min">Monto mínimo</label> <input
							class="form-control" name="mon_min" type="number"
							placeholder="Ingrese el monto mínimo"
							ng-model="productoItem.minimo"
							placeholder="Ingrese el monto mínimo"
							title="Campo obligatorio, ingrese un número válido" required>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label" for="mon_max">Monto máximo</label> <input
							class="form-control" name="mon_max" type="number"
							data-validate="required"
							title="Campo obligatorio, ingrese un número válido"
							placeholder="Ingrese el monto máximo"
							ng-model="productoItem.maximo">
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Plazo</label> <input type="number"
							class="form-control" name="plazo" placeholder="Ingrese el plazo"
							ng-model="productoItem.plazo" data-validate="required"
							title="Campo obligatorio, ingrese un número válido" />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label" for="uni_pl">Unidad Plazo</label> <select
							name="uni_pl" class="form-control"
							ng-model="productoItem.idUnidadPlazo"
							data-validate="required"
							data-message-required="Campo obligatorio">
							<option value="">---Seleccione la unidad de plazo---</option>
							<option ng-repeat="catalogItem in listaUnidadPlazo.items"
								value="{{catalogItem.idCatalogo}}"
								ng-selected="catalogItem.idCatalogo==productoItem.idUnidadPlazo">{{catalogItem.nombre}}</option>
						</select>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Pago por cada mil</label> <input
							type="number" class="form-control" name="pago_mil"
							placeholder="Ingrese el pago por cada mil"
							ng-model="productoItem.pagoXmil" data-validate="required"
							title="Campo obligatorio, ingrese un número válido" />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Tasa</label> <input type="number"
							class="form-control" name="tasa" placeholder="Ingrese la tasa"
							ng-model="productoItem.tasa" data-validate="required"
							title="Campo obligatorio, ingrese un número válido" />
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label" for="frecuencia_cobro"
							data-validate="required"
							data-message-required="Campo obligatorio">Frecuencia de
							Cobro</label> <select name="frecuencia_cobro" data-validate="required"
							data-message-required="Campo obligatorio" class="form-control"
							ng-model="productoItem.idFrecuenciaCobro">
							<option value="">---Seleccione la frecuencia de cobro---</option>
							<option ng-repeat="catalogItem in listaFrecuenciaCobro.items"
								value="{{catalogItem.idCatalogo}}"
								ng-selected="catalogItem.idCatalogo==productoItem.idFrecuenciaCobro">{{catalogItem.nombre}}</option>
						</select>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Comisión</label> <input type="number"
							class="form-control" name="comision"
							placeholder="Ingrese la comisión"
							ng-model="productoItem.comision"
							title="Campo obligatorio, ingrese un número válido" required />
						<br />
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Fecha Inicio de Operaciones</label> <input
							class="form-control datepicker" data-start-view="2" ng-model="productoItem.fechaInicioOperaciones" 
							placeholder="Ingrese Fecha de Operaciones">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Fecha Fin de Operaciones </label> <input
							class="form-control datepicker" data-start-view="2"  ng-model="productoItem.fechaFinOperaciones" >
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label"> Estatus: &nbsp; &nbsp;
							&nbsp; &nbsp; </label> <label class="radio-inline"><input
							type="radio" name="status" ng-checked="productoItem.estatus=='1'"
							ng-model="productoItem.estatus" ng-value="1"> Activo </label> <label
							class="radio-inline"> <input type="radio" name="status"
							ng-checked="productoItem.estatus=='0'"
							ng-model="productoItem.estatus" ng-value="0">
							Descontinuado
						</label>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">CAT</label> <input type="number"
							class="form-control" name="comision"
							placeholder="Ingrese la comisión" ng-model="productoItem.cat"
							title="Campo obligatorio, ingrese un número válido" required />
						<br />
					</div>
				</div>
				<div class="col-md-6">
					<div class="checkbox">
						<label> <input type="checkbox"
							ng-model="productoItem.permiteEditar">Permite Editar
						</label>
					</div>
				</div>
				<div class="col-md-6">
					<div class="checkbox">
						<label> <input type="checkbox"
							ng-model="productoItem.interesFijo">Interés Fijo
						</label>
					</div>
				</div>
			</div>
			<ul class="pager wizard">
				<p align="right">
					<button type="submit" align="right" class="btn btn-success" ng-disabled="!saveProduct.$valid">Validar</button>
				</p>

			</ul>
		</form>
		<!-- Main Footer -->
		<!-- Choose between footer styles: "footer-type-1" or "footer-type-2" -->
		<!-- Add class "sticky" to  always stick the footer to the end of page (if page contents is small) -->
		<!-- Or class "fixed" to  always fix the footer to the end of page -->


	</div>