<!-- Custom column filtering -->
<div class="panel panel-default txtparrafos">
    <div class="panel-heading">
        <h3 class="panel-title encabezados" >{{catalogName}}</h3>
        <div class="panel-options btn1 encabezados"><a  ui-sref="app.catform({parentId:catalogo.parent.idCatalogo, parentName:catalogo.parent.nombre})"  type="submit" class="btn btn-success" >Nuevo</a></div>
    </div>
    <div class="panel-body">
        <div class="table-responsive" data-pattern="priority-columns" data-focus-btn-icon="fa-asterisk" data-sticky-table-header="true" data-add-display-all-btn="false" data-add-focus-btn="false">
            <table class="table table-small-font table-bordered table-striped" id="example-3">
                <thead>
                    <tr class="replace-inputs">
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Clave interna</th>
                        <th ng-show="catalogName=='Tipos Doc Identidad'">Tamaño requerido</th>
                        <th>Puntos de Riesgo</th>
                        <th>Acción</th> 
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="catalogItem in catalogo.items">
                        <td>{{catalogItem.nombre}}</td>
                        <td>{{catalogItem.descripcion}}</td>
                        <td>{{catalogItem.claveInterna}}</td>
                        <td ng-show="catalogName=='Tipos Doc Identidad'">{{catalogItem.clave}}</td>
                        <td>{{catalogItem.puntosRiesgo}}</td>
                        <td>
                            <a  ui-sref="app.catform({parentId:catalogo.parent.idCatalogo, parentName:catalogo.parent.nombre,  catalogoItem:catalogItem})"  class="btn btn-secondary btn-sm btn-icon icon-left fa fa-pencil" title="Editar">
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
	;(function($)
	{
		$('.table-responsive').responsiveTable();
	})(jQuery);
</script>