

<!-- Custom column filtering -->
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Reglas Gastos</h3>
		<div class="panel-options btn1">
			<a
				ui-sref="app.reglasGastosForm({reglaItem:reglaItem})"
				type="submit" class="btn btn-success">Nuevo</a>
		</div>
	</div>
	<div class="panel-body">
		<div class="table-responsive" data-pattern="priority-columns"
			data-focus-btn-icon="fa-asterisk" data-sticky-table-header="true"
			data-add-display-all-btn="false" data-add-focus-btn="false">
			<table class="table table-small-font table-bordered table-striped"
				id="example-3">
				<thead>
					<tr class="replace-inputs">
						<th data-priority="3">Rol</th>
						<th data-priority="3">Periodo</th>
						<th data-priority="3">Concepto</th>
						<th data-priority="3">Máximo</th>
						<th data-priority="3">Requiere CFDI</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="reglaItem in reglasItems">
						<td>{{reglaItem.nombreRol}}</td>
						<td>{{reglaItem.nombrePeriodo}}</td>
						<td>{{reglaItem.nombreGasto}}</td>
						<td>{{reglaItem.maximo | currency}}</td>
						<td><input type="checkbox"  ng-model="reglaItem.requiereCFDI" ng-disabled="true"></td>
						<td><a
							ui-sref="app.reglasGastosForm({reglaItem:reglaItem})"
							class="btn btn-secondary btn-sm btn-icon icon-left fa fa-pencil"
							title="Editar"> 
							</a> 
							<a ng-click="openModal('modalconfirmdelete','lg',reglaItem.idRegla);"
							class="btn btn-danger btn-sm btn-icon icon-left fa fa-trash-o"
							title="Eliminar"> </a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<script>
	;
	(function($) {
		$('.table-responsive').responsiveTable();
	})(jQuery);
</script>
<script type="text/ng-template" id="modalconfirmdelete">
    <form role="form" id="formSection" name="formSection" method="post" class="validate" ng-submit="deleteRegla()">
        <div class="modal-header">
            <button type="button" class="close" ng-click="currentModal.close();" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Eliminar regla de gasto</h4>
        </div>

        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <span>Estás seguro de eliminar la regla de gasto?</span>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-white" ng-click="currentModal.dismiss();">Cerrar</button>
            <button type="button" class="btn btn-red" ng-click="deleteRegla();">Eliminar</button>
        </div>
    </form>
</script>

