

<!-- Custom column filtering -->
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Reglas Gastos</h3>
		<div class="panel-options btn1">
			<a
				ui-sref="app.reglasGastosRolForm({reglaItem:reglaItem})"
				type="submit" class="btn btn-success">Nuevo</a>
		</div>
	</div>
	<div class="panel-body">
		<div class="table-responsive" data-pattern="priority-columns"
			data-focus-btn-icon="fa-asterisk" data-sticky-table-header="true"
			data-add-display-all-btn="false" data-add-focus-btn="false">
			<table class="table table-small-font table-bordered table-striped"
				id="example-3">
				<thead>
					<tr class="replace-inputs">
						<th data-priority="3">Gasto</th>
						<th data-priority="3">Rol</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="reglaItem in reglasItems">
						<td>{{reglaItem.nombreGasto}}</td>
						<td>{{reglaItem.nombreRol}}</td>
						<td><a
							ui-sref="app.reglasGastosRolForm({reglaItem:reglaItem})"
							class="btn btn-secondary btn-sm btn-icon icon-left fa fa-pencil"
							title="Editar"> </a> <a href=""
							class="btn btn-danger btn-sm btn-icon icon-left fa fa-trash-o"
							title="Eliminar"> </a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<script>
	;
	(function($) {
		$('.table-responsive').responsiveTable();
	})(jQuery);
</script>
