<header class="logo-env">
	
	<!-- logo -->
	<div class="logo">
		<a href="angular/index.html" class="logo-expanded">
			<img src="assets/images/logo@2x.png" width="170" alt="" />
		</a>
		
		<a href="angular/index.html" class="logo-collapsed">
			<img src="assets/images/logo-collapsed@2x.png" width="40" alt="" />
		</a>
	</div>
	
	<!-- This will toggle the mobile menu and will be visible only on mobile devices -->
	<div class="mobile-menu-toggle visible-xs">
		<a href=""ng-click="mobileUserInfoToggle()" data-toggle="user-info-menu">
			<i class="fa-bell-o"></i>
			<span class="badge badge-success">7</span>
		</a>
		
		<a href="" ng-click="mobileMenuToggle()" data-toggle="mobile-menu">
			<i class="fa-bars"></i>
		</a>
	</div>
	
	<!-- This will open the popup with user profile settings, you can use for any purpose, just be creative -->
	
	
</header>